/* reset and common */
html {
  scroll-behavior: smooth;
}

body,
html,
ul,
li,
div {
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #fff;
  color: #333;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #ececec;
  width: 150px;
  height: 50px;
}

.btn--default {
  background: #fff;
  color: #410ab5;
  border: 2px solid #02bed2;
}

.btn--link {
  background: #fff;
  color: #410ab5;
  border: none;
  height: auto;
  text-align: left;
  padding: 1rem 0;
}

.btn--lg {
  width: 320px;
  height: 80px;
  font-size: 14pt;
}

.btn--grad {
  background: linear-gradient(90deg, #3701ea, #791cc7);
  color: #fff;
}

.main__section {
  width: 100%;
  margin-top: 2rem;
}

.section__heading {
  color: #222;
  font-size: 48pt;
  width: 75%;
  margin: auto;
  padding-top: 2rem;
}

.row {
  display: flex;
  justify-content: center;
}

.text--bold {
  font-weight: bold;
}

.header,
.section-format,
.section-timing {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
}

/* header */
.header {
  background-image: url('./assets/header_banner.png');
  color: #fff;
  height: 880px;
  background-repeat: no-repeat;
}

.logo {
  margin-left: 5rem;
}

.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding: 2.25rem 1.75rem;
}

.list__item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.list__item a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18pt;
  color: #fff;
}

.notice {
  width: 75%;
  margin: auto;
}

.notice__title {
  font-size: 32pt;
  font-weight: 500;
}

.notice__price {
  font-weight: 700;
  font-size: 76pt;
}

.notice__info {
  display: flex;
  margin-top: 2rem;
}

.info-item {
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 20pt;
  display: flex;
}

.info-item:first-child {
  margin-left: 0;
}


.info-item__text {
  margin: auto;
  margin-left: 1rem;
}

.notice__action {
  margin-top: 3rem;
}

/* section about */

/* section format */

.section-format {
  background-image: url('./assets/section_format.png');
  color: #fff;
  height: 900px;
}

.section-format .section__heading {
  color: #fff;
}

.format-card__wrapper {
  width: 70%;
  margin: auto;
  margin-top: 5rem;
}

.format-card {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 600px;
  width: 400px;
  background: #3900b2;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.format-body {
  padding: 1.75rem 2.25rem;
  height: 70%;
  text-align: center;
}

.format-title {
  font-size: 28pt;
  font-weight: bold;
  margin-top: 2rem;
}

.format-desc {
  margin-top: 2rem;
}

.format-action .btn {
  width: 100%;
}

/* section tasks */

.section-tasks .row {
  justify-content: space-around;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.task-action .btn {
  width: 100%;
}

.task-title {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 24pt;
  border-bottom: 2px solid #000;
  color: #0049d2;
}

.task-desc {
  font-size: 18pt;
  padding-bottom: 3rem;
  padding-top: 0.5rem;
}

/* section-timing */
.section-timing {
  background-image: url('./assets/section_timing.png');
  color: #fff;
  height: 900px;
}

.section-timing .section__heading {
  color: #fff;
  padding-top: 2rem;
}

/* section-jury */

.section-jury .row {
  width: 75%;
  margin: auto;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.jury-pht {
  width: 100%;
  border-radius: 50%;
}

.jury-body {
  text-align: center;
}

.jury-title {
  font-size: 24pt;
}

/* section-program */

.section-program .row {
  justify-content: space-around;
  width: 75%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.program-list {
  list-style-type: none;
}

.program-list__item {
  display: flex;
  margin-top: 1rem;
  padding-bottom: 1rem;
  color: #26077e;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
}

.program-list__item::before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  padding: 0.1rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  border: 4px solid #26077e;
  z-index: 2;
  background: #fff;
}

.program-list__item::after {
  content: "";
  width: 4px;
  height: 75px;
  display: block;
  background: #26077e;
  position: absolute;
  left: 10px;
  z-index: 1;
}

.program-list__item:last-child::after {
  display: none;
}

.program-desc {
  margin: auto 0;
}

.program-item {
  display: flex;
  position: relative;
}

.program-date {
  transform: rotate(-90deg);
  width: min-content;
  height: min-content;
  position: absolute;
  top: 18%;
  left: -40%;
  font-weight: bold;
  font-size: 24pt;
}

.program-action {
  display: flex;
}

.program-action .btn {
  width: 450px;
  height: 100px;
  margin: auto;
}

/* section-map */

.section-map {
  width: 100%;
  display: flex;
}

.map,
.map-desc {
  width: 50%;
}

.map-desc {
  background: #020941;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map__address {
  font-size: 24pt;
}

/* section-partners */

.section-partners .row {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* section-contacts */

.section-contacts {
  background: #020941;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.section-contacts .section__heading {
  color: #fff;
}

.contacts-content {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contacts-phrase {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 24pt;
}

.contacts-name {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 22pt;
}

.contacts-link {
  text-decoration: underline;
  color: #fff;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 22pt;
}
